<!DOCTYPE html>
<html>
  <head>
    <title>BE:CAUSE</title>
  </head>
  <body>
    <h1>BE:CAUSE</h1>
    <form action="/result" method="get">
      <input
        placeholder="보고 싶은 뉴스 키워드를 검색하세요"
        required
        name="keyword"
      />
      <button>Search</button>
    </form>
    <section>
      <h3>HOT TOPIC</h3>
      <hr />
      {% for i, news in enumerate(headline) %}
      <h3>{{categories[i]}}</h3>
      {% if news.image != None %}
      <a href="{{news.link}}"><img src="{{news.image}}" /></a>
      {% endif %}
      <a href="{{news.link}}"><h3>{{news.title}}</h3></a>
      <hr />
      {% endfor %}
    </section>
  </body>
</html>
